:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-screen {
    width: 100vw;
    height: 100vh;
}

.bg-animated-sasha {
    background: linear-gradient(-45deg, #ffd6e8, #ffb6c1, #ffcce6, #ffe5f1);
    background-size: 400% 400%;
    animation: gradient-move 15s ease infinite;
    transition: opacity 0.8s ease;
    height: 100%;
}
